# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Generated automatically by Gradle import
/compiler.xml
/*.iml
/gradle.xml
/misc.xml
/modules.xml

# Generated automatically by IDEA
/vcs.xml
